MACHINE ?= "raspberrypi3"
DISTRO ?= "poky"

BB_DISKMON_DIRS = "\
    STOPTASKS,${TMPDIR},1G,100K \
    STOPTASKS,${DL_DIR},1G,100K \
    STOPTASKS,${SSTATE_DIR},1G,100K \
    STOPTASKS,/tmp,100M,100K \
    ABORT,${TMPDIR},100M,1K \
    ABORT,${DL_DIR},100M,1K \
    ABORT,${SSTATE_DIR},100M,1K \
    ABORT,/tmp,10M,1K"

VIDEO_CAMERA = "1"

CONF_VERSION = "1"

BB_NUMBER_THREADS ?= "8"
PARALLEL_MAKE ?= "-j 4"
PATCHRESOLVE = "noop"
